.wrapper {
    width: 1000px;
    height: 600px;
    background-color: #2B2024;
    box-shadow: -7px 15px 18px -10px rgba(0,0,0,0.75);
    border-radius: 1%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}